:root {
    --light: #fff;
    --overlay: #444;
    --primary: #1d3dcae5;
    --dark: black;
    --secondary-light: #e9e1e1;
}


.jumbotron {
    height: 750px;
    background-color: var(--primary);
    color: var(--secondary-light)
}