/*variables*/
:root {
    --light: #fff;
    --overlay: #444;
    --primary: #192841;
    --dark: black;
    --secondary: #68a7ca;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

h1 {
    font-size: 2rem;
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0 0 1% 0;
}

header {
    display: flex;
    justify-content: space-evenly
}

nav ul {
    padding: 3vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-around;
    font-size: 1.25rem;
}

nav a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--light);
  }


main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
}

/* .h2-container {

} */

section {
    margin: 40px 0;
}

section h2 {
    font-size: 1.2rem;
    margin-bottom: 2em;
    border-right: 5px solid var(--primary);
    margin-left: 1rem;
    padding: 1em;
    min-width: 10rem;
}

article {
    margin-left: 1%;
    justify-content: center;
}

p {
    text-align: justify;
}

figure {
    position: relative;
    margin: 5px;
    opacity: 0.9;
}

figure img {
    width: 100%;
    border: 0.8em var(--primary) solid;
}

figure:hover {
    opacity: 1;
}

figcaption {
    position: absolute;
    bottom: 3em;
    left: 0.8em;
    color: var(--dark);
    padding: 2em 3em 2em 1em;
    background-color: var(--primary);
    color: var(--light);
}

figcaption p {
    font-size: 1.2em;
    margin-bottom: 1em;
    font-weight: 400;
}

figcaption span {
    font-size: 0.8em;
}

svg {
    width: 20px;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-color: var(--overlay);
    background-blend-mode: multiply;
    background-size: cover;
    /*h1 text positioning*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    position: relative;
}

.hero > p {
    color: var(--light);
    font-size: 105%;
    letter-spacing: 3px;
}

.avatar-container {
    position: relative;
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 1em;
}

.avatar {
    position: absolute;
    height: 250px;
    border-radius: 44% 44% 0 0;
    border: 0.3em solid var(--primary);
    overflow: hidden;
    bottom: -3em;
}

.about-me > article {
    margin: 2% auto;
    max-width: 80%;
}

.main-project {
    margin-left: 1%k;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.contact-me ul {
    padding: 3vh 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.25rem;
}

@media screen and (min-width: 600px) {

    main {
        width: 80%;
    }

    /* header {
        margin-bottom: 1%;
    } */

    section h2 {
        margin-right: 2%;
        border-right: 5px solid var(--primary);
    }

    .about-me {
        display: flex;
    }
    
    .about-me > article {
        margin: 0 auto;
        max-width: 80%;
    }
    
    .projects {
        display: flex;
        line-height: 0;
    }
    
    .main-project {
        margin-left: 1%k;
        justify-content: center;
    }
    
    .contact-me {
        display: flex;
    }

    .row {
        display: flex;
    }
    
    .column-a {
        float: left;
        max-width: 380px;
    }
    
    .column-b {
        float: right;
        max-width: 500px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
        min-width: 1200px;
    }

    .contact-me ul {
        padding: 3vh 0;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.25rem;
        min-width: 200px;
    }

}