/*variables*/
:root {
    --light: #fff;
    --overlay: #444;
    --primary: #192841;
    --dark: black;
    --image-overlay: #68a7ca;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
}

nav {
    display: flex;
    margin: 20px 0 20px 0;
    width: 100%;
}

nav ul {
   
    justify-content: space-around;
    font-size: 110%;
}

@media screen and (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }

    nav ul {
        flex-direction: column;
    }
}

nav a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--light);
  }


main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

h1 {
    font-size: 200%;
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0 0 1% 0;
}

/* .h2-container {

} */

section {
    margin: 40px 0;
}

section h2 {
    font-size: 130%;
    margin-right: 2%;
    border-right: 5px solid var(--primary);
    margin-left: 1rem;
    padding: 20px;
    min-width: 10rem;
}

article {
    margin-left: 2%;
    justify-content: center;
}

p {
    text-align: justify;
}

img {
    width: 100%;
    opacity: 0.9;
    fill-opacity: var(--image-overlay);
    border: 0.75em var(--primary) solid;
}

img:hover {
    opacity: 1;
}

figure {
    position: relative;
    margin: 5px;
}

figcaption {
    position: absolute;
    bottom: 75px;
    left: 20px;
    color: var(--dark);
    padding: 0 20px;
    background-color: var(--light);
    padding: 20px;
}

.hero {
    background-image: url(../images/hero.jpg);
    background-color: var(--overlay);
    background-blend-mode: multiply;
    background-size: cover;
    height: 80vh;
    /*h1 text positioning*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero > p {
    color: var(--light);
    font-size: 105%;
    letter-spacing: 3px;
}

.about-me {
    display: flex;
}

.about-me > article {
    margin: 0 auto;
    max-width: 80%;
}

.projects {
    display: flex;
    line-height: 0;
}

.main-project {
    margin-left: 50px;
    justify-content: center;
}

.row {
    display: flex;
}

.column-a {
    float: left;
}

.column-b {
    float: right;
}

.contact-me {
    display: flex;
    flex-basis: 10%;
}